---
import corevalues from "@data/coreValues.json";
const { theme } = Astro.props;
---

<section class="core_section" data-theme={theme}>
  <div class="core_inner">
    <section class="core_text">
      <span class="tag">GROWING WITH OUR CLIENTS</span>
      <h2>Our core values & principles</h2>
      <p class="description">
        Capitalize on low hanging fruit to identify a ballpark value added
        activity beta test. Override the digital divide with additional from
        DevOps.
      </p>
      <button class="core_btn">Get in touch</button>
    </section>
    <section class="cards">
      <div class="cards_container">
        {
          corevalues.values.map(({ icon, title, description, link }) => (
            <div class="card" data-theme={theme}>
              <div class="icon-wrapper">
                <img src={`/src/icons/${icon}.svg`} alt="" />
              </div>
              <h3>{title}</h3>
              <p>{description}</p>
              <a href={link.url} class="card_link">
                {link.text} →
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</section>

<style>
  @layer components {
    .core_section {
      grid-column: full-start / full-end;
      display: grid;
      grid-template-columns: subgrid;
      padding: 1rem 2rem;
    }

    .core_inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }

    .core_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    h3 {
      margin-top: 20px;
      font-size: 20px;
    }

    h2 {
      grid-column: 1;
      grid-row: 2;
      margin: 0;
    }

    .description {
      line-height: 1.65;
      grid-column: 1;
      grid-row: 3;
      max-width: 52ch;
      margin: 0;
    }

    .core_section {
      padding: 4rem 2rem;
    }

    .core_section[data-theme="dark"] {
      /* css til baggrunden */
      --grid-color: hsl(from #ffcc4a h s l / 0.18);
      --grid-size: 50px;
      background:
        radial-gradient(circle at 90% 50%, black, #0000, #000),
        conic-gradient(
            from 180deg at 1px 1px,
            var(--grid-color) 75%,
            #0000 0
          ) -1px -1px /
          var(--grid-size) var(--grid-size),
        #000;

      .tag,
      h2,
      .description {
        color: var(--color-neutrals-100);
      }

      .core_btn {
        background-color: white;
        color: black;
      }
    }

    .core_section[data-theme="light"] {
      background-color: var(--color-neutrals-50);

      .description {
        color: var(--color-neutrals-700);
      }
    }

    .core_btn {
      border-radius: 999px;
      margin-bottom: 2rem;
      color: var(--color-neutrals-50);
      background-color: var(--color-neutrals-900);
      padding: 0.75rem 1.5rem;
      border: none;
      align-self: end;
    }

    .card {
      background-color: #f5f5f5;
      border-radius: 24px;
      padding: 2rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .icon-wrapper {
        background-color: var(--color-ui-primary);
        border-radius: 50%;
        padding: 0.75rem;
        height: 52px;
        width: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }

      img {
        filter: invert(1);
        width: 24px;
        height: 24px;
      }
    }

    .cards_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }
</style>
