---
import team from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import Icon from "@components/helpers/DynamicIcon.astro";
---

<section class="meetourteam_sec">
  <div class="team_inner">
    <section class="team_content">
      <h3>Meet Our Great Team</h3>
      <p class="content_description">
        Welcome to our amazing team! We are a group of passionate individuals
        dedicated to excellence and innovation. Each member brings unique skills
        and experiences, working together to achieve our goals.
      </p>
      <button class="join_btn">Join Our Team</button>
    </section>

    <article class="team_grid">
      {
        team.map((member) => (
          <div class="team_card">
            <a
              href={`/${member.slug}`}
              aria-label={`Read more about ${member.name}`}
            >
              <div class="img-wrapper">
                <DynamicImage imagePath={member.img} altText={member.name} />
                <span class="title_fig">{member.title}</span>
              </div>
            </a>
            <h3>{member.name}</h3>
            <p class="description">{member.description}</p>
            <div class="icons">
              <a
                href={
                  member.social_links?.find((s) => s.platform === "instagram")
                    ?.url
                }
                target="_blank"
              >
                <Icon name="instagram" class="icon_color" />
              </a>
              <a
                href={
                  member.social_links?.find((s) => s.platform === "facebook")
                    ?.url
                }
                target="_blank"
              >
                <Icon name="facebook" class="icon_color" />
              </a>
            </div>
          </div>
        ))
      }
    </article>
  </div>
</section>

<style>
  @layer components {
    .meetourteam_sec {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    .team_content {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      margin-bottom: 2.5rem;
    }

    h3 {
      grid-column: 1;
      grid-row: 1;
      margin: 0;
    }

    .content_description {
      grid-column: 1;
      grid-row: 2;
      margin: 0;
      max-width: 70ch;
    }

    .join_btn {
      border-radius: 999px;
      padding: 0.75rem 1.5rem;
      border: none;
      background-color: var(--color-neutrals-900);
      color: var(--color-neutrals-50);
      grid-column: 2;
      grid-row: 2 / 3;
      align-self: end;
      justify-self: end;
    }

    .join_btn:hover {
      background: oklch(from var(--color-neutrals-900) calc(l + 0.1) c h);
    }

    .join_btn:active {
      background: oklch(from var(--color-neutrals-900) calc(l + 0.1) c h);
    }

    /* TEAM GRID */
    .team_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }

    .team_grid h3 {
      font-size: 25px;
      margin: 10px;
      cursor: pointer;
    }

    .team_card {
      text-align: center;
      position: relative;
    }

    .img-wrapper {
      border-radius: 20px;
      overflow: hidden;
      display: block;
      cursor: pointer;
    }

    .img-wrapper img,
    .img-wrapper picture {
      width: 100%;
      display: block;
      border-radius: 0;
    }

    .team_card img-wrapper {
      position: relative;
    }

    .team_text {
      text-align: center;
    }

    .img-wrapper {
      position: relative;
      display: inline-block;
    }

    .title_fig {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: var(--color-neutrals-900);
      color: white;
      padding: 0.4rem 0.8rem;
      border-radius: 30px;
      font-size: 0.85rem;
      cursor: pointer;
    }

    .description {
      max-width: 40ch;
    }

    /* Ikon og styling */
    .icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      margin-top: 20px;
    }

    .icons a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--color-neutrals-900);
    }

    .icons :global(svg) {
      width: 28px;
      height: 28px;
      fill: var(--color-neutrals-900);
      transition:
        fill 0.2s ease,
        transform 0.2s ease;
    }

    @media (max-width: 1024px) {
      .meetourteam_sec {
        margin: 20px;
      }
      .team_content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1.5rem;
      }

      .join_btn {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
      }

      .content_description {
        max-width: 60ch;
        margin-inline: auto;
      }

      .team_grid {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
      }

      .team_card {
        text-align: center;
      }

      .title_fig {
        bottom: 10px;
        right: 15px;
      }

      .description {
        max-width: 100%;
      }

      .icons svg {
        width: 26px;
        height: 26px;
      }
    }
  }
</style>
